<% heading "Dashboard" %>

<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="dash-summary bg-primary">
			<div class="content">
				<h1 class="text-left"><%= @pages.publish.size + 1 %></h1>
				<p>Pages</p>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="dash-summary bg-tarawera">
			<div class="content">
				<h1 class="text-left"><%= @subscribers.size %></h1>
				<p>Subscribers</p>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="dash-summary bg-sea">
			<div class="content">
				<h1 class="text-left"><%= @admins.size %></h1>
				<p>Administrators</p>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="dash-summary bg-carmine">
			<div class="content">
				<h1 class="text-left"><%= @supports.size %></h1>
				<p>Support Tickets</p>
			</div>
		</div>
	</div>

</div>	



<div class="row">
	<div class="col-md-6 col-sm-12 pages">
		<%= render 'admin/pages/partials/pages' %>
	</div>

	<div class="col-md-6 col-sm-12">
		<%= render 'admin/pages/partials/drafts' %>
	</div>
</div>

<div class="row">
	<%= render 'admin/pages/partials/admins' %>	
</div>

<div class="row">
	
	<div class="col-md-12 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					Support Tickets 
					<%= link_to 'Add Ticket', new_admin_support_path, class: 'add-new-link btn btn-primary', remote: true, id:'new-support-link' %>
						
				</h4>
				<div class="panel-action">
					<i class="fa fa-angle-up close-body"></i>
				</div>
			</div>
			<div class="panel-body">
				
				</div>
				<div class="supports">
					<%= render :template => 'admin/supports/index' %>
				</div>
			</div>
		</div>
	</div>

</div>








