<ul>
    <li>
        <%= link_to admin_root_path do %>
            <i class="fa fa-cloud"></i>
            <span>Dashboard</span>
        <% end %>
    </li>
    <li class="has-nested">
        <%= link_to '#', class: 'nested-link' do %>
            <i class="fa fa-file"></i>
            <span>Pages</span>
            <i class="arrow fa fa-angle-down pull-right"></i>
        <% end %>
            <ul class="nested">
                <% @pages.publish.each do |page| %>
                    <li>
                        <%= link_to page.permalink.titleize, edit_admin_page_path(page)%>
                        <% end %>
                    </li>
                <li><%= link_to 'New Page', new_admin_page_path, class: 'btn' %></li>
            </ul>
    </li>
    <li class="has-nested">
        <%= link_to '#', class: 'nested-link' do %>
            <i class="fa fa-group"></i>
            <span>Admins</span>
            <i class="arrow fa fa-angle-down pull-right"></i>
        <% end %>
            <ul class="nested">
                <% Admin.all.each do |admin| %>
                    <li>
                        <%= link_to admin.fullname, edit_admin_admin_path(admin)  %>
                    </li>
                <% end %>
                <li><%= link_to 'Add Admin', new_admin_admin_path, class: 'btn' %></li>
            </ul>
    </li>
    <li>
        <%= link_to admin_employees_path do  %>
            <i class="fa fa-cogs"></i>
            <span>Employees</span>
        <% end %>
    </li>
     <li>
        <%= link_to admin_newsletters_path do  %>
            <i class="fa fa-envelope"></i>
            <span>Subscribers</span>
        <% end %>
    </li>
</ul>



