<%= simple_form_for ([:admin, @task]), html: { id: 'task-form' },remote: true do |f| %>

	<%= f.input :name, label: 'Task' %>
	<p><%= link_to 'Add Note', '#', id: 'show-note'  %></p>
	<%= f.input :note, as: :text %>

	
	<%= f.button :submit, class: 'btn btn-primary' %>
	<button class="btn btn-danger cancel-form">Cancel</button>
	
	
<% end %>