<div class="row preset-layout">

	<fieldset class="col-md-12 header-uploaders">
		<legend>Page Header</legend>
		
		<div class="btns">
			<button class="btn btn-primary header-btns" id="header-background-btn" >Select Header Background</button>
			<button class="btn btn-primary header-btns" id="header-icon-btn" >Select Header Icon</button>
			<button class="btn btn-primary header-content-btn">Add Content</button>
		</div>

		<div class="form-header" style="background-image:url(<% if @page.background.present? %> <%= @page.background %><% else %>https://rcocpa.s3.amazonaws.com/images/uid/2014/09/18/02/15/39/699/home.jpg <% end %>)">
			<div class="row text-center">
				<img src="<% if @page.icon.present? %> <%= @page.icon %> <% else %>https://rcocpa.s3.amazonaws.com/images/uid/2014/09/06/05/27/20/836/home_logo.png <% end %>" alt="R&amp;C Logo" class="form-header-icon">
				<%= f.input :header_content, label: false %>
			</div>

		</div>

		<%= f.input_field :background, id: 'header-background', type: :hidden %>
		<%= f.input_field :icon, id: 'header-icon', class: 'active', type: :hidden %>

	


		

	</fieldset>

	<fieldset class="col-md-12 sections">
		<div class="fieldset-header">
			<legend>Main Content</legend>
			
			<% unless params[:action] == 'edit' %>
				<%= link_to_new 'Add Section', f, :sections %>
			<% else %>
				<%= link_to_new 'Add Section', f, :sections %>
				<%= f.simple_fields_for :sections do |build| %>
					<%= render 'admin/pages/partials/section', f: build %>
				<% end %>
			<% end %>
		</div>		
	</fieldset>

</div>
