



<%= link_to 'Menu', '#', id: 'menu-link' %>

<div class="wrapper" id="<%= @page.permalink %>">


		<div class="background-header" style="background-image:url(<% if @page.background.present? %> <%= @page.background %><% else %>https://rcocpa.s3.amazonaws.com/images/uid/2014/09/18/02/15/39/699/home.jpg <% end %>)"></div>
		<!-- header -->
		<header id="header">
		
			<div class="row text-center">
				<%= image_tag @page.icon, class: 'header-icon' if @page.icon.present? %>
				<% if @page.header_content.present? %>
					<h1><%= @page.header_content.html_safe %></h1>
				<% end %>
			</div>
	 
		</header>
		<!-- end header -->
	
		<div class="content">
	<!-- navigation -->
		<%= render 'layouts/frontend/navigation' %>
	<!-- end navigation -->
	
		<% cache @page.sections do %>
			<% @page.sections.each do |section| %>
				<!-- section wrapper -->
				<% if section.background.present? %>
					<section class="break" style="background-image:url(<%= section.background %>);">
					</section>
				<% else %>
				<div class="section-wrapper">
					<% unless section.content.blank? %>
						<%= raw(section.content) %>
					<% end %> 
				</div>
				<% end %>
				<!-- end section wrapper -->
			<% end %>
		<% end %>
	

	<!-- footer -->
	<%= render 'footer' %>
	<!-- end footer -->
	</div>
</div> 
<!-- end wrapper -->