<nav class="desktop">
    <%= link_to '', root_path, id: 'home-link'  %>
    <ul class="clearfix">
      <% @pages.publish.order('created_at').each do |page| %>

        <% unless page.permalink === 'home' %>
          <li class='nav-links <%= "#{page.permalink}" %> '>
            <%= link_to permalink_path(page) do %>
              <div class="hover-img"></div>
              <span class="active-state"><%= page.permalink %></span>
              <span class="hover-txt"><%= raw(page.drop_text) %></span>
            <% end %>
          </li>
        <% end %>
        
      <% end %>
      <li class="nav-links contact">
        <a href="/contact">
          <div class="hover-img"></div>
          <span class="active-state">Contact</span>
          <span class="hover-txt">Call, Mail &amp; <br> Get Directions</span>
        </a>
      </li>
    </ul>
</nav>